/* акцент #2196F3 */
/* текст rgba(33, 33, 33, 1) */
/* параграфи та контакти в хедері rgba(117, 117, 117, 1) */
/* адресС АЛЕ НЕ КАРТА З АДРЕСОЮ БО АДРЕСА ПРОСТО БІЛА rgba(255, 255, 255, 0.6) */
/* другорядний колір фону #F5F4FA */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Решта коду */
:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --title-color: rgba(33, 33, 33, 1);
  --accent-color: #2196f3;
  --button-color: var(--title-color);
  --button-background: #f5f4fa;
  --bgc-secondary: #f5f4fa;
  --common-bgc: #f5f5f5;
  --footer-hero-bgc: #2f303a;
  --card-gap: 30px;

}

body {
  color: rgba(33, 33, 33, 1);
  /* background-color: var(--common-bgc); */
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  /* font-size: 14; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px sloid red; */
}

.flex-container{
  display: flex;
  
  
}





/* параграфи в файлі index.html */
.features .text {
  color: rgba(117, 117, 117, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  padding: 0px 0px;
  margin: 0px 0px;
  letter-spacing: 0.03em;
}

/* загальна стилізація кнопок */
.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--button-background);
  border: 4px solid #f5f4fa;
  border: 1px solid transparent;

}



/* стилізація кнопок на сторінці портфоліо */

.button.primaru {

  font-family: inherit;
  background-color: var(--button-background);
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  text-align: center;
  min-width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
  /* margin-top: 94px; */
}

.button.primaru:hover,
.button.primaru:active,
.button.primaru:focus {
  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
}

/* кнопка "замовити послугу" */
.button.secondary {
  padding: 10px 32px;
  


  background-color: var(--accent-color);
  color: rgba(255, 255, 255, 1);
  line-height: 1.87;
  font-weight: 700;
  min-width: 216px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: 1px solid transparent;
  /* position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px; */
}

/* стилізація хедера */
.header {
  border-bottom: 1px solid #ECECEC;
}

a.logo {
  color: rgba(0, 0, 0, 1);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  
}

.nav{
  margin-right: auto;
}

/* .logo:visited{
    color: (33, 33, 33, 1);
} */
.logo-link {
  color: rgba(33, 150, 243, 1);
}

/* cстилізація всіх заголовків */
h1,
h2,
h3,
h4,
h5,
h6 {
  
  margin: 0px;
}

/* .nav-links .link{
  padding-top: 32px;
  margin-bottom: 32px;
} */
.hero>h1 {
  color: #fff;
  width: 696px;
  text-transform: uppercase;
}


/* оформлення шрифра для лого в футурі та хедері */
.logo,
.footer-logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;

}
.footer .footer-logo {
  display: block;
  margin-bottom: 20px;
  
  color: #ffffff;


}





/* оформлення */
ul.nav-contacts.list {
  display: flex;
  padding-bottom: 0px;
  margin-left: auto;
  
}
ul.nav-contacts.list>li+li {
  margin-left: 50px;
}

.container > .nav{
  display: flex;
}



.nav-contacts .contact {
  display: block;

  font-weight: 500;
  padding-bottom: 32px;
  padding-top: 32px;

  color: rgba(117, 117, 117, 1);
  line-height: 1.17;
  font-size: 14px;
  letter-spacing: 0.02em;
  /* outline: 2px solid teal; */
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

/*-ПОСИЛАННЯ в хедері 
-стилізація блоку з головною навігацією на головній 
сторінці в хедері*/
.nav-links .link {
  display: block;

  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;

  color: rgba(33, 33, 33, 1);
  line-height: 1.17;
  font-size: 14px;
  letter-spacing: 0.02em;
  /* outline: 2px solid teal; */

}

.nav-links.list>.item.item:not(:last-child) {
  margin-right: 50px;

}

ul.nav-links.list {
  padding-bottom: 0px;
}



.nav-links .link:hover,
.link:focus {
  color: rgba(33, 150, 243, 1);
}

.nav-links .link.current {
  color: rgba(33, 150, 243, 1);
}

/* стилізація блоку герой */

.hero-title>h1 {
  color: #fff;
  /* line-height: 1.36px; */
  /* margin: 0 auto; */
  letter-spacing: 0.06em;
}


.hero.section{
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero>.hero-title {
  
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 30px;
  line-height: 1.36;
}

.hero {
  text-align: center;
  /* outline: 5px solid red; */
  padding-top: 200px;
  padding-bottom: 200px;

}

/* заголовки блоку "переваги" головної сторінки  */
.features-title {
  font-size: 14px;
  line-height: 1.14;
  /* padding-top: 92px; */
  margin-bottom: 10px;

}

/* фон hero footer */
.hero,
.footer {
  background-color: var(--footer-hero-bgc)
}

/* посилання в футері */
.map {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

}

.map:hover,
.map:focus {
  color: #2196f3;
}

.address-links .contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-links .contact:hover,
.contact:focus {
  color: #2196f3;
}



/* оформлення фону для секції team початкової сторінки */

.team.bgc {
  background-color: var(--bgc-secondary);


  /* HELP!!!!!!!! Я НЕ РОЗУМІЮ ЧОГО НЕ ПЕРЕЗАПИСУЄТЬСЯ КОЛІР ДЛЯ ЦІЄЇ СЕКЦІЇ, А НАСТЛІДУЄЬБСЯ З body. у тегу 
  .team.bgc специфічність 20, а body - 1 */

}

/* оформлення заголовків h2 */
.section-title {
  /* padding-top: 94px; */
  margin-bottom: 50px;

  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  /* text-align: center; */
}

div.card-content{
  margin-top: 30px;
  margin-bottom: 30px;
}

.team .card-text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;

}



.team .card-heading {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team .item{
  background: #FFFFFF;
/* material shadow v1 */
  min-width: 270px;
  

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.portfolio a {
  color: var(--title-color);
}

/* margin-top утиліта */
/* .list>.margin{
  margin-top: 50px;
} */
/* утіліта для видалення оформлення списку */
.list {
  list-style: none;
  padding-top: 0px;
  /* padding-bottom: 94px; */
  padding-left: 0;


}


/* утілітка для оформлення посиланнь */
.link {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-bottom: 94px;
}

/* .ul .address-links{
    text-align: left;
} */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* редагування стилю тексту на сторінці портфоліо */
.portfolio-link {
  font-size: 18px;
}

.portfolio p {
  font-size: 16px;
  color: 
  rgba(117, 117, 117, 1);
  line-height: 1.87;
  margin-top: 0;
  margin-bottom: 0;
}

.portfolio h2 {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}



/* .list-portfolio {
  padding-top: 94px;
  padding-bottom: 50px;
  margin-left: 0;
} */

body ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

address {
  font-style: normal;
}



/* .portfolio>.item:nth-child(2n+1){
  background-color: var(--bgc-secondary)
} */

.buttons {
  display: flex;
  justify-content: center;
}

/* .flex {
  display: flex;
  flex-direction: row;
  align-items: srart;
  justify-content: space-around;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
} */

.features .item{
  width: 270px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

/* індекс хтмл наша команда */
ul.list.function-marg {
  display: flex;
  
  


}

ul.list .item:not(:last-child) {
  margin-right: 30px;
}

/* .nav-contacts.list{
  display: flex;
  justify-content: end;
  align-items: flex-start;
} */
/* .nav-links.list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
} */

/* відступи в картинках блоку чим займаємося */
.work-item:not(:last-child) {
  margin-right: 30px;

}
.work-item{
  width: 370px;
}

.nav-container .nav-links.list {
  display: block;
  flex-direction: row;
  justify-content: center;

}

/* кнопки фільтри на портфоліо */
.buttons.list>.item:not(:last-child) {
  margin-right: 8px;

}

/* .container>ul.portfolio{ */

/* } */




/* ul.portfolio{
  outline: 2px solid red;
} */

.card-set {
  padding: 0px;
  margin: 0px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  /* padding-bottom: 94px; */

  margin-top: calc(-1*var(--card-gap));
  margin-left: calc(-1*var(--card-gap));
  /* outline: red 2px solid; */


}

.portfolio.card-set .item {

  flex-basis: calc(100%/3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

/* ul.portfolio>.item:not(:last-child){
  margin-right: 30px;
} */
.nav-links.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* outline: 2px solid red; */

}

.item {
  /* outline: 2px solid teal; */
  align-items: stretch;
}

.border {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;

}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container .section{
  padding-bottom: 94px;
}

/* -прибрати падінг кнопок
-продивитися де ще можна прибрати
-можливо зробити окрему утиліту сектіон де відступи 94 вгорі та низу  
а там де не 94 то так і залишити
-окрема утиліта з нижнім падингом

*/
.padding-footer{
  padding-top: 60px;
  padding-bottom: 60px;
}

.text{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.set-padding {
  padding-top: 50px;
}
.set-top-padding{
  padding-top: 94px;
}
.section-features{
  padding-top: 0;
  padding-bottom: 94px;
}